a{
    text-decoration: none;
}
.clear::after{
    content: "";
    display: table;
    clear: both;
}
.wrapper {
    background-image: url("../images/rana-sawalha-364253-unsplash@1X.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.nav-bar{
    height: 60px;
    background-color:rgba(0,0,0,0.4);
    box-sizing: border-box;
    padding: 20px 40px;
}
.header-title {
    color: white;
    font-size: 25px;
}
.header-title:hover{
    color: #347d56;
}
.header-right-title{
    height: 100%;
    width: 30%;
    float: right;
}
.right-title-links-color{
    color:#347d56;
}
.right-title-links-color:hover{
    text-decoration: underline;
}
.sprite-block{
    float: left;
    position: relative;
}
.sprite-block::after{
    content: "";
    display: inline-block;
    width: 2px;
    height: 19px;
    background-color: #33312f;
    position: absolute;
    right: -60px;

}
.sigh-links{
    float: right;
    color: white;
}
.sprite{
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.sprite-calendar{
    margin-left: 25px;
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
    float: left;
}
.sprite-calendar:hover{
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}
.sprite-forum{
    margin-left: 25px;
    width: 28px;
    height: 20px;
    background-position: -43px -34px;
    float: left;
}
.sprite-forum:hover{
    width: 28px;
    height: 20px;
    background-position: -5px -34px;
}

.sprite-journey{
    margin-left: 25px;
    width: 20px;
    height: 20px;
    background-position: -81px -35px;
    float: left;
}
.sprite-journey:hover{
    width: 20px;
    height: 20px;
    background-position:-81px -5px;
}
.registration-field{
    width: 450px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 60px));
}
.inner-part-of-registration-field{
    position: relative;
    width: 340px;
    height: 100%;
    margin: 0 auto;
}
.registration-field::before{
    position: absolute;
    left: 0;
    top:18px;
    display: inline-block;
    content: "";
    width: 20px;
    height: 18px;
    background-color: #3cb878;
}
.registration-field-heading-menu{
    display:block;
}
.log-in-class{
    float: right;
    color:#347d56;
    margin: 15px 0 15px 0;
}
.log-in-class:hover{
    text-decoration: underline;
}
.sign-up-class{
    font-size: 20px;
    float: left;
    margin: 15px 0 15px 0;
}
.input-form{
    margin: 0 auto;
}

.input-form-container{
    margin-top: 15px;
    margin-right: 49px;
}
.Facebook-Google{
    width:100%;
    height: 50px;
}
.fa-facebook-f , .fa-google-plus-g {
    margin-right: 20px;
}
.Facebook{
    position: relative;
    font-size: 20px;
    background-color: #305db8;
    width: 163px;
    height: 47px;
    color: white;
    border-radius: 7px;
    float: left;
}
.Google{
    float: right;
    font-size: 20px;
    width: 163px;
    height:47px;
    background-color: #df4a32;
    color: white;
    border-radius: 7px;
}
.fa-facebook-f::after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 1px;
    height:20px;
    background-color:#224387;
    top: 12px;
    right: 117px;
}
.fa-google-plus-g::after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 1px;
    height:20px;
    background-color:#af3a28;
    top: 67px;
    right: 100px;
}

.Facebook , .Google:focus{
    outline: none;
}
.personal-data{
    width: 320px;
    height: 50px;
    padding-left: 12px;
    border: 1px solid #eaeaea;
    margin-left: 12px;
    margin-top: 20px;
}
.personal-data:focus{
    outline: 1px solid #f7f7f7;
    box-shadow: 4px 4px 4px #f2f2f2;
}
.checkbox-style:active{
    outline: 1px solid #f7f7f7;
    box-shadow: 4px 4px 4px #f2f2f2;
}
.create-account-button{
    width: 320px;
    height: 50px;
    background-color:#3cb878;
    color: white;
    border-radius: 7px;
    margin: 12px 0 0 15px;
}
